build
.ipynb_checkpoints
note.md
backup.py
week5_final_report.ipynb
Neighborhoods_in_Toronto.ipynb
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.dvi
*.xdv
*-converted-to.*
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.synctex.gz
*.run.xml
Neighborhoods_in_Toronto.ipynb
Neighborhoods_in_Toronto.ipynb
